/* Layout Classes */
.container-flex {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 96.188px);
}

.sidebar-flex {
  position: fixed;
  flex-grow: 1;
  width: 300px;
  max-width: 300px;
  background-color: #2E333C;
  color: #E5E5E5;
  margin-top: 96.188px;
  padding-top: 1.45rem;
  top: 0;
  bottom: 0;
  min-height: 0 !important;
  overflow-y: scroll;
}

.content-flex {
  flex-grow: 3;
  margin: 0 auto;
  margin-left: 300px;
  margin-top: 100px;
  max-width: 960;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 1.0875rem;
  flex-grow: 1;
}

.headerName {
  max-width: 90%;
}

@media screen and (max-width: 1300px) {
  .content-flex {
    flex-grow: 3;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 960;
    padding: 0px 1.0875rem 1.45rem;
    padding-top: 1.0875rem;
    flex-grow: 1;
  }

  .headerName {
    max-width: 80%;
  }

}

@media screen and (max-width: 600px) {
  .searchBox {
    display: none;
  }
  .headerName {
    max-width: 60%;
  }
}

.k-item {
  color: #E5E5E5;
}

.searchInput {
  background-color: #585F6C;
  color: #E5E5E5;
  border-radius: 5px;
}

.searchInput:focus {
  outline: none;
}

.searchList {
  list-style-type: none;
  margin: 0;
  background-color: #585F6C;
}

.searchItem {
  margin-left: 4px !important;
  color: #E5E5E5;
  text-decoration: none;
}

.bm-cross-button {
  top: 104.188px !important;
}
