.nav-link {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.nav-link:hover {
  color: rgb(229, 229, 229);
  background-color: transparent;
}

.nav-directory {
  width: 100%;
}

.nav-directory:hover {
  color: rgb(229, 229, 229);
}

.k-in:hover {
  color: rgb(229, 229, 229) !important;
  background-color: #464E5B !important;
}

.nav {
  padding: 6px 2px;
}
